<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <connectionStrings>
    <add name="CNX_SQL"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=crsysodb.cx3klmeuto7e.us-east-2.rds.amazonaws.com,1433;
         Initial Catalog=HMWhoEnters; 
         Persist Security Info=True; 
         User ID=admin; 
         Password=12345678"/>
  </connectionStrings>

  <appSettings>
    <add key="LISTAR_ACTIVIDADES" value="[ADMIN].SP_LISTAR_ACTIVIDADES"/>
    <add key="INSERTAR_ACTIVIDADES" value="[ADMIN].SP_INSERTAR_ACTIVIDADES"/>
    <add key="MODIFICAR_ACTIVIDADES" value="[ADMIN].SP_MODIFICAR_ACTIVIDADES"/>
    <add key="ELIMINAR_ACTIVIDADES" value="[ADMIN].SP_ELIMINAR_ACTIVIDADES"/>

    <add key="LISTAR_HORARIOS" value="[ADMIN].SP_LISTAR_HORARIOS"/>
    <add key="INSERTAR_HORARIOS" value="[ADMIN].SP_INSERTAR_HORARIOS"/>
    <add key="MODIFICAR_HORARIOS" value="[ADMIN].SP_MODIFICAR_HORARIOS"/>
    <add key="ELIMINAR_HORARIOS" value="[ADMIN].SP_ELIMINAR_HORARIOS"/>

    <add key="LISTAR_TIPO_VISITANTE" value="[ADMIN].SP_LISTAR_TIPO_VISITANTE"/>
    <add key="INSERTAR_TIPO_VISITANTE" value="[ADMIN].SP_INSERTAR_TIPO_VISITANTE"/>
    <add key="MODIFICAR_TIPO_VISITANTE" value="[ADMIN].SP_MODIFICAR_TIPO_VISITANTE"/>
    <add key="ELIMINAR_TIPO_VISITANTE" value="[ADMIN].SP_ELIMINAR_TIPO_VISITANTE"/>

    <add key="LISTAR_USUARIOS" value="[ADMIN].SP_LISTAR_USUARIOS"/>
    <add key="INSERTAR_USUARIOS" value="[ADMIN].SP_INSERTAR_USUARIOS"/>
    <add key="MODIFICAR_USUARIOS" value="[ADMIN].SP_MODIFICAR_USUARIOS"/>
    <add key="ELIMINAR_USUARIOS" value="[ADMIN].SP_ELIMINAR_USUARIOS"/>

    <add key="LISTAR_RESIDENTES" value="[CONTROL].SP_LISTAR_RESIDENTES"/>
    <add key="INSERTAR_RESIDENTES" value="[CONTROL].SP_INSERTAR_RESIDENTES"/>
    <add key="MODIFICAR_RESIDENTES" value="[CONTROL].SP_MODIFICAR_RESIDENTES"/>
    <add key="ELIMINAR_RESIDENTES" value="[CONTROL].SP_ELIMINAR_RESIDENTES"/>

    <add key="LISTAR_VISITANTES" value="[CONTROL].SP_LISTAR_VISITANTES"/>
    <add key="INSERTAR_VISITANTES" value="[CONTROL].SP_INSERTAR_VISITANTES"/>
    <add key="MODIFICAR_VISITANTES" value="[CONTROL].SP_MODIFICAR_VISITANTES"/>
    <add key="ELIMINAR_VISITANTES" value="[CONTROL].SP_ELIMINAR_VISITANTES"/>

    <add key="LISTAR_VISITAS" value="[CONTROL].SP_LISTAR_VISITAS"/>
    <add key="INSERTAR_VISITAS" value="[CONTROL].SP_INSERTAR_VISITAS"/>
    <add key="MODIFICAR_VISITAS" value="[CONTROL].SP_MODIFICAR_VISITAS"/>
    <add key="ELIMINAR_VISITAS" value="[CONTROL].SP_ELIMINAR_VISITAS"/>
    
    
  </appSettings>
  
  
  
</configuration>
